
        <h1>Pure CSS3 Batman Logo</h1>
        <h2><span>-webkit-</span> CSS3 Animated Flying</h2>
        <div class="batman">
            <div class="bat-cave">
            <div class="left-wing-connector">
                <div></div> <!-- 1 -->
                <div></div> <!-- 2 -->
                <div></div> <!-- 3 -->
            </div>
            <div class="left-wing">
                <div></div> <!-- 1 -->
                <div></div> <!-- 2 -->
                <div></div> <!-- 3 -->
                <div class="left-smoother">
                </div>
            </div>
            <div class="bat-body">
                <div></div> <!-- 1 -->
                <div></div> <!-- 2 -->
                <div></div> <!-- 3 -->
                <div></div> <!-- 4 -->
                <div></div> <!-- 5 -->
            </div>
            <div class="right-wing-connector">
                <div></div> <!-- 1 -->
                <div></div> <!-- 2 -->
                <div></div> <!-- 3 -->
            </div>
            <div class="right-wing">
                <div></div> <!-- 1 -->
                <div></div> <!-- 2 -->
                <div></div> <!-- 3 -->
                <div class="right-smoother">
                </div>
            </div>
            </div>
            </div>
