<div id="batman">
  <div class="inner-y">
    <div class="inner-b">
      <div class="cut-lr"></div>
      <div class="cut-rr"></div>
      <div class="cut-bll"></div>
      <div class="cut-brr"></div>
      <div class="cut-blll"></div>
      <div class="cut-bllr"></div>
      <div class="cut-brll"></div>
      <div class="cut-brlr"></div>
      <div class="cut-hd"></div>
      <div class="drw-hd-m"></div>
      <div class="drw-hd-lt"></div>
      <div class="drw-hd-rt"></div>
    </div>
  </div>
</div>
